## creating crossproduct of all possible dates and municipalities

In [9]:
import pandas as pd
import itertools

In [49]:
df_damages = pd.read_excel('..data_engineering/Data/USDB_1972_2023_ohneSchadenszahlen_ohneBeschriebe.xlsx')
df_damages.sort_values(by='Datum', inplace=True)
oldest_date = df_damages['Datum'].min()
newest_date = df_damages['Datum'].max()
oldest_date, newest_date

(Timestamp('1972-02-17 00:00:00'), Timestamp('2023-12-23 00:00:00'))

In [50]:
init_len_damages = len(df_damages)
df_damages

,Gemeinde,Gemeindenummer,Weitere Gemeinde,Kanton,Prozessraum,MAXO Datum,Datum,MAXO Zeit,Zeit,Gewässer,...,Gewitter Niederschlagsmenge [mm],Dauerregen Dauer MAXO,Dauerregen Dauer [Std.],Dauerregen Niederschlagsmenge MAXO,Dauerregen Niederschlagsmenge [mm],Schneeschmelze MAXO,Schneeschmelze,Ursache nicht bestimmbar MAXO,Ursache nicht bestimmbar,ID
0,Rossinière,5842,NaN,VD_x001D_,Pont du Lanciau,A,1972-02-17,A,01:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37955
1,Sonvilier,445,NaN,BE_x001D_,NaN,A,1972-03-09,A,01:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37619
2,Ormont-Dessous,5410,NaN,VD_x001D_,NaN,M,1972-04-08,M,20:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37956
3,Einsiedeln,1301,NaN,SZ_x001D_,Miesegg,A,1972-05-01,O,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10498
4,Nendaz,6024,NaN,VS_x001D_,Les Follards,M,1972-06-16,O,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28510,Innerthal,1343,NaN,SZ_x001D_,Gugelberg,A,2023-12-17,A,01:30:00,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39138
28511,Belp,861,Toffen,BE_x001D_,NaN,M,2023-12-18,NaN,NaN,NaN,...,NaN,O,NaN,O,NaN,M,1.0,NaN,NaN,39159
28512,Toffen,884,NaN,BE_x001D_,Breitlohn,M,2023-12-19,M,14:30:00,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39157
28513,Zollikon,161,NaN,ZH_x001D_,Trichtenhausen,M,2023-12-22,NaN,NaN,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39201
28514,Tschlin,3753,NaN,GR_x001D_,Vinadi,M,2023-12-23,M,06:00:00,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39199

In [51]:
df_damages_municipality_date_hasDamage = df_damages[['Gemeinde', 'Datum', 'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]', 'Hauptprozess']]
df_damages_municipality_date_hasDamage['damage'] = '1'
df_damages_municipality_date_hasDamage.drop_duplicates(inplace=True)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_2500/452434306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['damage'] = '1'
/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_2500/452434306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.drop_duplicates(inplace=True)

,Gemeinde,Datum,"Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]",Hauptprozess,damage
0,Rossinière,1972-02-17,gering,Sturz,1
1,Sonvilier,1972-03-09,gering,Sturz,1
2,Ormont-Dessous,1972-04-08,gering,Sturz,1
3,Einsiedeln,1972-05-01,gering,Rutschung,1
4,Nendaz,1972-06-16,gering,Sturz,1
...,...,...,...,...,...
28510,Innerthal,2023-12-17,gering,Sturz,1
28511,Belp,2023-12-18,gering,Rutschung,1
28512,Toffen,2023-12-19,gering,Rutschung,1
28513,Zollikon,2023-12-22,gering,Rutschung,1
28514,Tschlin,2023-12-23,mittel,Sturz,1

In [52]:
df_dates = pd.date_range(oldest_date, newest_date)
df_dates = pd.DataFrame({'Date': df_dates})
df_dates

            Date
0     1972-02-17
1     1972-02-18
2     1972-02-19
3     1972-02-20
4     1972-02-21
...          ...
18933 2023-12-19
18934 2023-12-20
18935 2023-12-21
18936 2023-12-22
18937 2023-12-23

[18938 rows x 1 columns]

In [53]:
df_munuicipalities = pd.read_csv('/Users/nilsgamperli/PycharmProjects/StormMind/data_engineering/Data/municipalities/municipality_coordinates.csv')

In [39]:
all_combinations = df_munuicipalities.merge(df_dates, how='cross')

In [40]:
all_combinations_len = len(all_combinations)
all_combinations_len

52231004

In [41]:
all_combinations

          Unnamed: 0     Municipality   Latitude  Longitude       Date
0                  0  Aeugst am Albis  47.267949   8.486330 1972-02-17
1                  0  Aeugst am Albis  47.267949   8.486330 1972-02-18
2                  0  Aeugst am Albis  47.267949   8.486330 1972-02-19
3                  0  Aeugst am Albis  47.267949   8.486330 1972-02-20
4                  0  Aeugst am Albis  47.267949   8.486330 1972-02-21
...              ...              ...        ...        ...        ...
52230999        2757     Vendlincourt  47.451242   7.148502 2023-12-19
52231000        2757     Vendlincourt  47.451242   7.148502 2023-12-20
52231001        2757     Vendlincourt  47.451242   7.148502 2023-12-21
52231002        2757     Vendlincourt  47.451242   7.148502 2023-12-22
52231003        2757     Vendlincourt  47.451242   7.148502 2023-12-23

[52231004 rows x 5 columns]

In [54]:
df_damages_municipality_date_hasDamage.rename(columns={'Gemeinde': 'Municipality', 'Datum': 'Date'}, inplace=True)

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_2500/345316216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.rename(columns={'Gemeinde': 'Municipality', 'Datum': 'Date'}, inplace=True)

In [55]:
df_damages_municipality_date_hasDamage.rename(columns={'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]': 'extent_of_damage', 'Hauptprozess': 'main_process'}, inplace=True)

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_2500/178530098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.rename(columns={'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]': 'extent_of_damage', 'Hauptprozess': 'main_process'}, inplace=True)

In [56]:
df_damages_municipality_date_hasDamage

         Municipality       Date extent_of_damage main_process damage
0          Rossinière 1972-02-17           gering        Sturz      1
1           Sonvilier 1972-03-09           gering        Sturz      1
2      Ormont-Dessous 1972-04-08           gering        Sturz      1
3          Einsiedeln 1972-05-01           gering    Rutschung      1
4              Nendaz 1972-06-16           gering        Sturz      1
...               ...        ...              ...          ...    ...
28510       Innerthal 2023-12-17           gering        Sturz      1
28511            Belp 2023-12-18           gering    Rutschung      1
28512          Toffen 2023-12-19           gering    Rutschung      1
28513        Zollikon 2023-12-22           gering    Rutschung      1
28514         Tschlin 2023-12-23           mittel        Sturz      1

[26254 rows x 5 columns]

In [57]:
#remap the extend of damage column:
damage_mapping = {
    'gering': 0,
    'mittel': 1,
    'gross/katastrophal': 2
}

df_damages_municipality_date_hasDamage['extent_of_damage'] = df_damages_municipality_date_hasDamage['extent_of_damage'].map(damage_mapping)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_2500/1653718561.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['extent_of_damage'] = df_damages_municipality_date_hasDamage['extent_of_damage'].map(damage_mapping)

         Municipality       Date  extent_of_damage main_process damage
0          Rossinière 1972-02-17                 0        Sturz      1
1           Sonvilier 1972-03-09                 0        Sturz      1
2      Ormont-Dessous 1972-04-08                 0        Sturz      1
3          Einsiedeln 1972-05-01                 0    Rutschung      1
4              Nendaz 1972-06-16                 0        Sturz      1
...               ...        ...               ...          ...    ...
28510       Innerthal 2023-12-17                 0        Sturz      1
28511            Belp 2023-12-18                 0    Rutschung      1
28512          Toffen 2023-12-19                 0    Rutschung      1
28513        Zollikon 2023-12-22                 0    Rutschung      1
28514         Tschlin 2023-12-23                 1        Sturz      1

[26254 rows x 5 columns]

In [58]:
df_damages_municipality_date_hasDamage['main_process'].unique()

array(['Sturz', 'Rutschung', 'Wasser/Murgang'], dtype=object)

In [59]:
#remap the main process
main_process_mapping = {
    'Sturz': 0,
    'Rutschung': 1,
    'Wasser/Murgang': 2
}

df_damages_municipality_date_hasDamage['main_process'] = df_damages_municipality_date_hasDamage['main_process'].map(main_process_mapping)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_2500/2369383322.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['main_process'] = df_damages_municipality_date_hasDamage['main_process'].map(main_process_mapping)

         Municipality       Date  extent_of_damage  main_process damage
0          Rossinière 1972-02-17                 0             0      1
1           Sonvilier 1972-03-09                 0             0      1
2      Ormont-Dessous 1972-04-08                 0             0      1
3          Einsiedeln 1972-05-01                 0             1      1
4              Nendaz 1972-06-16                 0             0      1
...               ...        ...               ...           ...    ...
28510       Innerthal 2023-12-17                 0             0      1
28511            Belp 2023-12-18                 0             1      1
28512          Toffen 2023-12-19                 0             1      1
28513        Zollikon 2023-12-22                 0             1      1
28514         Tschlin 2023-12-23                 1             0      1

[26254 rows x 5 columns]

In [60]:
df_damages_with_municipality_date_comb = all_combinations.merge(
    df_damages_municipality_date_hasDamage,
    on=['Municipality', "Date"],
    how="left"
)
df_damages_with_municipality_date_comb

,Unnamed: 0,Municipality,Latitude,Longitude,Date,extent_of_damage,main_process,damage
0,0,Aeugst am Albis,47.267949,8.486330,1972-02-17,NaN,NaN,NaN
1,0,Aeugst am Albis,47.267949,8.486330,1972-02-18,NaN,NaN,NaN
2,0,Aeugst am Albis,47.267949,8.486330,1972-02-19,NaN,NaN,NaN
3,0,Aeugst am Albis,47.267949,8.486330,1972-02-20,NaN,NaN,NaN
4,0,Aeugst am Albis,47.267949,8.486330,1972-02-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
52231982,2757,Vendlincourt,47.451242,7.148502,2023-12-19,NaN,NaN,NaN
52231983,2757,Vendlincourt,47.451242,7.148502,2023-12-20,NaN,NaN,NaN
52231984,2757,Vendlincourt,47.451242,7.148502,2023-12-21,NaN,NaN,NaN
52231985,2757,Vendlincourt,47.451242,7.148502,2023-12-22,NaN,NaN,NaN
52231986,2757,Vendlincourt,47.451242,7.148502,2023-12-23,NaN,NaN,NaN

In [62]:
df_damages_with_municipality_date_comb['damage'] = df_damages_with_municipality_date_comb['damage'].fillna(0)
df_damages_with_municipality_date_comb['extent_of_damage'] = df_damages_with_municipality_date_comb['extent_of_damage'].fillna(0)

,Unnamed: 0,Municipality,Latitude,Longitude,Date,extent_of_damage,main_process,damage
0,0,Aeugst am Albis,47.267949,8.486330,1972-02-17,0.0,NaN,0
1,0,Aeugst am Albis,47.267949,8.486330,1972-02-18,0.0,NaN,0
2,0,Aeugst am Albis,47.267949,8.486330,1972-02-19,0.0,NaN,0
3,0,Aeugst am Albis,47.267949,8.486330,1972-02-20,0.0,NaN,0
4,0,Aeugst am Albis,47.267949,8.486330,1972-02-21,0.0,NaN,0
...,...,...,...,...,...,...,...,...
52231982,2757,Vendlincourt,47.451242,7.148502,2023-12-19,0.0,NaN,0
52231983,2757,Vendlincourt,47.451242,7.148502,2023-12-20,0.0,NaN,0
52231984,2757,Vendlincourt,47.451242,7.148502,2023-12-21,0.0,NaN,0
52231985,2757,Vendlincourt,47.451242,7.148502,2023-12-22,0.0,NaN,0
52231986,2757,Vendlincourt,47.451242,7.148502,2023-12-23,0.0,NaN,0

In [63]:
# if no damage, main process = 3
df_damages_with_municipality_date_comb['main_process'] = df_damages_with_municipality_date_comb['main_process'].fillna(3)

In [64]:
df_damages_with_municipality_date_comb.to_csv('../data_engineering/Data/all_data.csv')