## creating crossproduct of all possible dates and municipalities

In [1]:
import pandas as pd
import itertools
import datetime

In [2]:
df_damages = pd.read_excel('/Users/nilsgamperli/Documents/StormMindData/inital_dataset/USDB_1972_2023_ohneSchadenszahlen_ohneBeschriebe.xlsx')
df_damages.sort_values(by='Datum', inplace=True)
oldest_date = datetime.date(1972, 1, 1)
newest_date = datetime.date(2023, 12,31)
oldest_date, newest_date

(datetime.date(1972, 1, 1), datetime.date(2023, 12, 31))

In [3]:
init_len_damages = len(df_damages)
df_damages

,Gemeinde,Gemeindenummer,Weitere Gemeinde,Kanton,Prozessraum,MAXO Datum,Datum,MAXO Zeit,Zeit,Gewässer,...,Gewitter Niederschlagsmenge [mm],Dauerregen Dauer MAXO,Dauerregen Dauer [Std.],Dauerregen Niederschlagsmenge MAXO,Dauerregen Niederschlagsmenge [mm],Schneeschmelze MAXO,Schneeschmelze,Ursache nicht bestimmbar MAXO,Ursache nicht bestimmbar,ID
0,Rossinière,5842,NaN,VD_x001D_,Pont du Lanciau,A,1972-02-17,A,01:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37955
1,Sonvilier,445,NaN,BE_x001D_,NaN,A,1972-03-09,A,01:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37619
2,Ormont-Dessous,5410,NaN,VD_x001D_,NaN,M,1972-04-08,M,20:30:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37956
3,Einsiedeln,1301,NaN,SZ_x001D_,Miesegg,A,1972-05-01,O,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10498
4,Nendaz,6024,NaN,VS_x001D_,Les Follards,M,1972-06-16,O,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28510,Innerthal,1343,NaN,SZ_x001D_,Gugelberg,A,2023-12-17,A,01:30:00,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39138
28511,Belp,861,Toffen,BE_x001D_,NaN,M,2023-12-18,NaN,NaN,NaN,...,NaN,O,NaN,O,NaN,M,1.0,NaN,NaN,39159
28512,Toffen,884,NaN,BE_x001D_,Breitlohn,M,2023-12-19,M,14:30:00,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39157
28513,Zollikon,161,NaN,ZH_x001D_,Trichtenhausen,M,2023-12-22,NaN,NaN,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39201
28514,Tschlin,3753,NaN,GR_x001D_,Vinadi,M,2023-12-23,M,06:00:00,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39199

In [4]:
df_damages_municipality_date_hasDamage = df_damages[['Gemeinde', 'Datum', 'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]', 'Hauptprozess']]
df_damages_municipality_date_hasDamage['damage'] = '1'
df_damages_municipality_date_hasDamage.drop_duplicates(inplace=True)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_72962/452434306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['damage'] = '1'
/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_72962/452434306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.drop_duplicates(inplace=True)

,Gemeinde,Datum,"Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]",Hauptprozess,damage
0,Rossinière,1972-02-17,gering,Sturz,1
1,Sonvilier,1972-03-09,gering,Sturz,1
2,Ormont-Dessous,1972-04-08,gering,Sturz,1
3,Einsiedeln,1972-05-01,gering,Rutschung,1
4,Nendaz,1972-06-16,gering,Sturz,1
...,...,...,...,...,...
28510,Innerthal,2023-12-17,gering,Sturz,1
28511,Belp,2023-12-18,gering,Rutschung,1
28512,Toffen,2023-12-19,gering,Rutschung,1
28513,Zollikon,2023-12-22,gering,Rutschung,1
28514,Tschlin,2023-12-23,mittel,Sturz,1

In [5]:
df_dates = pd.date_range(oldest_date, newest_date)
df_dates = pd.DataFrame({'Date': df_dates})
df_dates

            Date
0     1972-01-01
1     1972-01-02
2     1972-01-03
3     1972-01-04
4     1972-01-05
...          ...
18988 2023-12-27
18989 2023-12-28
18990 2023-12-29
18991 2023-12-30
18992 2023-12-31

[18993 rows x 1 columns]

In [6]:
df_munuicipalities = pd.read_csv('../../Ressources/municipalities_coordinates_newest.csv')

In [7]:
all_combinations = df_munuicipalities.merge(df_dates, how='cross')

In [8]:
all_combinations_len = len(all_combinations)
all_combinations_len

52401687

In [9]:
all_combinations

             Municipality   Latitude  Longitude       Date
0         Aeugst am Albis  47.267949   8.486330 1972-01-01
1         Aeugst am Albis  47.267949   8.486330 1972-01-02
2         Aeugst am Albis  47.267949   8.486330 1972-01-03
3         Aeugst am Albis  47.267949   8.486330 1972-01-04
4         Aeugst am Albis  47.267949   8.486330 1972-01-05
...                   ...        ...        ...        ...
52401682  Sils im Engadin  46.433333   9.766667 2023-12-27
52401683  Sils im Engadin  46.433333   9.766667 2023-12-28
52401684  Sils im Engadin  46.433333   9.766667 2023-12-29
52401685  Sils im Engadin  46.433333   9.766667 2023-12-30
52401686  Sils im Engadin  46.433333   9.766667 2023-12-31

[52401687 rows x 4 columns]

In [10]:
df_damages_municipality_date_hasDamage.rename(columns={'Gemeinde': 'Municipality', 'Datum': 'Date'}, inplace=True)

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_72962/345316216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.rename(columns={'Gemeinde': 'Municipality', 'Datum': 'Date'}, inplace=True)

In [11]:
df_damages_municipality_date_hasDamage.rename(columns={'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]': 'extent_of_damage', 'Hauptprozess': 'main_process'}, inplace=True)

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_72962/178530098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.rename(columns={'Schadensausmass, gering [0.01-0.4], mittel [0.4-2], gross/katastrophal[>2] oder Todesfall [Mio. CHF]': 'extent_of_damage', 'Hauptprozess': 'main_process'}, inplace=True)

In [12]:
df_damages_municipality_date_hasDamage

         Municipality       Date extent_of_damage main_process damage
0          Rossinière 1972-02-17           gering        Sturz      1
1           Sonvilier 1972-03-09           gering        Sturz      1
2      Ormont-Dessous 1972-04-08           gering        Sturz      1
3          Einsiedeln 1972-05-01           gering    Rutschung      1
4              Nendaz 1972-06-16           gering        Sturz      1
...               ...        ...              ...          ...    ...
28510       Innerthal 2023-12-17           gering        Sturz      1
28511            Belp 2023-12-18           gering    Rutschung      1
28512          Toffen 2023-12-19           gering    Rutschung      1
28513        Zollikon 2023-12-22           gering    Rutschung      1
28514         Tschlin 2023-12-23           mittel        Sturz      1

[26254 rows x 5 columns]

In [13]:
#remap the extend of damage column:
damage_mapping = {
    'gering': 1,
    'mittel': 2,
    'gross/katastrophal': 3
}

df_damages_municipality_date_hasDamage['extent_of_damage'] = df_damages_municipality_date_hasDamage['extent_of_damage'].map(damage_mapping)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_72962/4008064437.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['extent_of_damage'] = df_damages_municipality_date_hasDamage['extent_of_damage'].map(damage_mapping)

         Municipality       Date  extent_of_damage main_process damage
0          Rossinière 1972-02-17                 1        Sturz      1
1           Sonvilier 1972-03-09                 1        Sturz      1
2      Ormont-Dessous 1972-04-08                 1        Sturz      1
3          Einsiedeln 1972-05-01                 1    Rutschung      1
4              Nendaz 1972-06-16                 1        Sturz      1
...               ...        ...               ...          ...    ...
28510       Innerthal 2023-12-17                 1        Sturz      1
28511            Belp 2023-12-18                 1    Rutschung      1
28512          Toffen 2023-12-19                 1    Rutschung      1
28513        Zollikon 2023-12-22                 1    Rutschung      1
28514         Tschlin 2023-12-23                 2        Sturz      1

[26254 rows x 5 columns]

In [14]:
df_damages_municipality_date_hasDamage['main_process'].unique()

array(['Sturz', 'Rutschung', 'Wasser/Murgang'], dtype=object)

In [15]:
#remap the main process
main_process_mapping = {
    'Sturz': 1,
    'Rutschung': 2,
    'Wasser/Murgang': 3
}

df_damages_municipality_date_hasDamage['main_process'] = df_damages_municipality_date_hasDamage['main_process'].map(main_process_mapping)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_72962/4288681566.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['main_process'] = df_damages_municipality_date_hasDamage['main_process'].map(main_process_mapping)

         Municipality       Date  extent_of_damage  main_process damage
0          Rossinière 1972-02-17                 1             1      1
1           Sonvilier 1972-03-09                 1             1      1
2      Ormont-Dessous 1972-04-08                 1             1      1
3          Einsiedeln 1972-05-01                 1             2      1
4              Nendaz 1972-06-16                 1             1      1
...               ...        ...               ...           ...    ...
28510       Innerthal 2023-12-17                 1             1      1
28511            Belp 2023-12-18                 1             2      1
28512          Toffen 2023-12-19                 1             2      1
28513        Zollikon 2023-12-22                 1             2      1
28514         Tschlin 2023-12-23                 2             1      1

[26254 rows x 5 columns]

In [16]:
df_damages_with_municipality_date_comb = all_combinations.merge(
    df_damages_municipality_date_hasDamage,
    on=['Municipality', "Date"],
    how="left"
)
df_damages_with_municipality_date_comb

,Municipality,Latitude,Longitude,Date,extent_of_damage,main_process,damage
0,Aeugst am Albis,47.267949,8.486330,1972-01-01,NaN,NaN,NaN
1,Aeugst am Albis,47.267949,8.486330,1972-01-02,NaN,NaN,NaN
2,Aeugst am Albis,47.267949,8.486330,1972-01-03,NaN,NaN,NaN
3,Aeugst am Albis,47.267949,8.486330,1972-01-04,NaN,NaN,NaN
4,Aeugst am Albis,47.267949,8.486330,1972-01-05,NaN,NaN,NaN
...,...,...,...,...,...,...,...
52402661,Sils im Engadin,46.433333,9.766667,2023-12-27,NaN,NaN,NaN
52402662,Sils im Engadin,46.433333,9.766667,2023-12-28,NaN,NaN,NaN
52402663,Sils im Engadin,46.433333,9.766667,2023-12-29,NaN,NaN,NaN
52402664,Sils im Engadin,46.433333,9.766667,2023-12-30,NaN,NaN,NaN
52402665,Sils im Engadin,46.433333,9.766667,2023-12-31,NaN,NaN,NaN

In [17]:
df_damages_with_municipality_date_comb['damage'] = df_damages_with_municipality_date_comb['damage'].fillna(0)
df_damages_with_municipality_date_comb['extent_of_damage'] = df_damages_with_municipality_date_comb['extent_of_damage'].fillna(0)
df_damages_with_municipality_date_comb['main_process'] = df_damages_with_municipality_date_comb['main_process'].fillna(0)

In [18]:
df_damages_with_municipality_date_comb

,Municipality,Latitude,Longitude,Date,extent_of_damage,main_process,damage
0,Aeugst am Albis,47.267949,8.486330,1972-01-01,0.0,0.0,0
1,Aeugst am Albis,47.267949,8.486330,1972-01-02,0.0,0.0,0
2,Aeugst am Albis,47.267949,8.486330,1972-01-03,0.0,0.0,0
3,Aeugst am Albis,47.267949,8.486330,1972-01-04,0.0,0.0,0
4,Aeugst am Albis,47.267949,8.486330,1972-01-05,0.0,0.0,0
...,...,...,...,...,...,...,...
52402661,Sils im Engadin,46.433333,9.766667,2023-12-27,0.0,0.0,0
52402662,Sils im Engadin,46.433333,9.766667,2023-12-28,0.0,0.0,0
52402663,Sils im Engadin,46.433333,9.766667,2023-12-29,0.0,0.0,0
52402664,Sils im Engadin,46.433333,9.766667,2023-12-30,0.0,0.0,0
52402665,Sils im Engadin,46.433333,9.766667,2023-12-31,0.0,0.0,0

In [20]:
df_damages_with_municipality_date_comb = df_damages_with_municipality_date_comb.drop(['Latitude', 'Longitude', 'damage' ],axis=1)

In [21]:
df_damages_with_municipality_date_comb

             Municipality       Date  extent_of_damage  main_process
0         Aeugst am Albis 1972-01-01               0.0           0.0
1         Aeugst am Albis 1972-01-02               0.0           0.0
2         Aeugst am Albis 1972-01-03               0.0           0.0
3         Aeugst am Albis 1972-01-04               0.0           0.0
4         Aeugst am Albis 1972-01-05               0.0           0.0
...                   ...        ...               ...           ...
52402661  Sils im Engadin 2023-12-27               0.0           0.0
52402662  Sils im Engadin 2023-12-28               0.0           0.0
52402663  Sils im Engadin 2023-12-29               0.0           0.0
52402664  Sils im Engadin 2023-12-30               0.0           0.0
52402665  Sils im Engadin 2023-12-31               0.0           0.0

[52402666 rows x 4 columns]

In [22]:
df_damages_with_municipality_date_comb.to_csv('../../Ressources/main_data_1972_2023.csv')