In [47]:
import pandas as pd
import itertools

In [146]:
df_damages = pd.read_excel('USDB_1972_2023_ohneSchadenszahlen_ohneBeschriebe.xlsx')
df_damages.sort_values(by='Datum', inplace=True)
oldest_date = df_damages['Datum'].min()
newest_date = df_damages['Datum'].max()
oldest_date, newest_date
df_damages

,Unnamed: 0,Gemeinde,Gemeindenummer,Weitere Gemeinde,Kanton,Prozessraum,MAXO Datum,Datum,MAXO Zeit,Zeit,...,Gewitter Niederschlagsmenge [mm],Dauerregen Dauer MAXO,Dauerregen Dauer [Std.],Dauerregen Niederschlagsmenge MAXO,Dauerregen Niederschlagsmenge [mm],Schneeschmelze MAXO,Schneeschmelze,Ursache nicht bestimmbar MAXO,Ursache nicht bestimmbar,ID
0,0,Rossinière,5842,NaN,VD_x001D_,Pont du Lanciau,A,1972-02-17,A,01:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37955
1,1,Sonvilier,445,NaN,BE_x001D_,NaN,A,1972-03-09,A,01:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37619
2,2,Ormont-Dessous,5410,NaN,VD_x001D_,NaN,M,1972-04-08,M,20:30:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37956
3,3,Einsiedeln,1301,NaN,SZ_x001D_,Miesegg,A,1972-05-01,O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10498
4,4,Nendaz,6024,NaN,VS_x001D_,Les Follards,M,1972-06-16,O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,1.0,37600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28390,28510,Innerthal,1343,NaN,SZ_x001D_,Gugelberg,A,2023-12-17,A,01:30:00,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39138
28391,28511,Belp,861,Toffen,BE_x001D_,NaN,M,2023-12-18,NaN,NaN,...,NaN,O,NaN,O,NaN,M,1.0,NaN,NaN,39159
28392,28512,Toffen,884,NaN,BE_x001D_,Breitlohn,M,2023-12-19,M,14:30:00,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39157
28393,28513,Zollikon,161,NaN,ZH_x001D_,Trichtenhausen,M,2023-12-22,NaN,NaN,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39201
28394,28514,Tschlin,3753,NaN,GR_x001D_,Vinadi,M,2023-12-23,M,06:00:00,...,NaN,O,NaN,O,NaN,NaN,NaN,NaN,NaN,39199

In [147]:
init_len_damages = len(df_damages)
df_damages[["Datum", "Gemeinde"]]

           Datum        Gemeinde
0     1972-02-17      Rossinière
1     1972-03-09       Sonvilier
2     1972-04-08  Ormont-Dessous
3     1972-05-01      Einsiedeln
4     1972-06-16          Nendaz
...          ...             ...
28390 2023-12-17       Innerthal
28391 2023-12-18            Belp
28392 2023-12-19          Toffen
28393 2023-12-22        Zollikon
28394 2023-12-23         Tschlin

[28395 rows x 2 columns]

In [148]:
df_damages_municipality_date_hasDamage = df_damages[['Gemeinde', 'Datum', 'Kanton']]
df_damages_municipality_date_hasDamage['damage'] = '1'
df_damages_municipality_date_hasDamage.drop_duplicates(inplace=True)
df_damages_municipality_date_hasDamage

/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_84048/1036681958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage['damage'] = '1'
/var/folders/hl/p763nlw90_5fw2097x_zh3ph0000gn/T/ipykernel_84048/1036681958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_damages_municipality_date_hasDamage.drop_duplicates(inplace=True)

             Gemeinde      Datum     Kanton damage
0          Rossinière 1972-02-17  VD_x001D_      1
1           Sonvilier 1972-03-09  BE_x001D_      1
2      Ormont-Dessous 1972-04-08  VD_x001D_      1
3          Einsiedeln 1972-05-01  SZ_x001D_      1
4              Nendaz 1972-06-16  VS_x001D_      1
...               ...        ...        ...    ...
28390       Innerthal 2023-12-17  SZ_x001D_      1
28391            Belp 2023-12-18  BE_x001D_      1
28392          Toffen 2023-12-19  BE_x001D_      1
28393        Zollikon 2023-12-22  ZH_x001D_      1
28394         Tschlin 2023-12-23  GR_x001D_      1

[25119 rows x 4 columns]

The following code cell is copied from StackOverflow: https://stackoverflow.com/a/1060330

In [149]:
from datetime import date, timedelta

def daterange(start_date: date, end_date: date):
    days = int((end_date - start_date).days)
    for n in range(days):
        yield start_date + timedelta(n)

In [150]:
dates_len = len(list(daterange(oldest_date, newest_date)))

In [151]:
df_munuicipalities = pd.read_excel('be-b-00.04-agv-20050313.xlsx', 'Gemeindeliste-Liste d. communes')
df_munuicipalities = df_munuicipalities['GDENAME']

In [152]:
all_combinations = pd.DataFrame(
    list(itertools.product(daterange(oldest_date, newest_date), df_munuicipalities)),
    columns=["Datum", "Gemeinde"]
)

In [153]:
all_combinations_len = len(all_combinations)
all_combinations_len

52228246

# Checking Municipalities
In the following cell we check if there are old or wrong municipalities in the dataframe which comes from the damage data.

In [157]:
df_not_existing_municipalities = df_damages_municipality_date_hasDamage[
    ~df_damages_municipality_date_hasDamage['Gemeinde'].isin(all_combinations['Gemeinde'])
]
df_not_existing_municipalities = df_not_existing_municipalities[['Gemeinde', 'Kanton']].drop_duplicates()
df_not_existing_municipalities.to_csv('municipalities_with_new_names.csv')

In [154]:
df_damages_with_municipality_date_comb = all_combinations.merge(
    df_damages_municipality_date_hasDamage,
    on=["Datum", "Gemeinde"],
    how="left"
)

# Add 'damage' column: 1 if a match exists, otherwise 0
df_damages_with_municipality_date_comb["damage"] = df_damages_with_municipality_date_comb["damage"].notna().astype(int)

print(len(df_damages_with_municipality_date_comb))  # Should be the same as len(all_combinations)

52228248

In [155]:
df_damages_with_municipality_date_comb['damage'] = df_damages_with_municipality_date_comb['damage'].fillna(0)

In [156]:
df_damages_with_municipality_date_comb_len = len(df_damages_with_municipality_date_comb)
df_damages_municipality_date_hasDamage_len = len(df_damages_municipality_date_hasDamage)
df_damages_with_municipality_date_comb_len, df_damages_municipality_date_hasDamage_len

(52228248, 25119)

Now we calculate if we have the correct amount of entries. This led to the result of too many rows, which means that there are some mismatches in municipalities of the two dataframes.

In [117]:
total_combinations = len(df_munuicipalities) * dates_len
print('Total combinations: ', total_combinations)
print('Initial df length:, ', df_damages_municipality_date_hasDamage_len)
total_combinations_minus_init_df_len = total_combinations - df_damages_municipality_date_hasDamage_len
print('Total calculated minus init', total_combinations_minus_init_df_len)
print('Total actual length ', len(df_damages_with_municipality_date_comb))
len(df_damages_with_municipality_date_comb) - total_combinations_minus_init_df_len

Total combinations:  52228246
Initial df length:,  25236
Total calculated minus init 52203010
Total actual length  52229311

26301