In [1]:
import pandas as pd

In [2]:
main_data = pd.read_csv('../Data/all_data.csv')

In [3]:
main_data.head()

,Unnamed: 0.1,Unnamed: 0,Municipality,Latitude,Longitude,Date,extent_of_damage,main_process,damage
0,0,0,Aeugst am Albis,47.267949,8.48633,1972-02-17,0.0,0.0,0
1,1,0,Aeugst am Albis,47.267949,8.48633,1972-02-18,0.0,0.0,0
2,2,0,Aeugst am Albis,47.267949,8.48633,1972-02-19,0.0,0.0,0
3,3,0,Aeugst am Albis,47.267949,8.48633,1972-02-20,0.0,0.0,0
4,4,0,Aeugst am Albis,47.267949,8.48633,1972-02-21,0.0,0.0,0

In [4]:
main_data = main_data[['Municipality', 'Date', 'extent_of_damage', 'main_process']]

In [5]:
main_data

             Municipality        Date  extent_of_damage  main_process
0         Aeugst am Albis  1972-02-17               0.0           0.0
1         Aeugst am Albis  1972-02-18               0.0           0.0
2         Aeugst am Albis  1972-02-19               0.0           0.0
3         Aeugst am Albis  1972-02-20               0.0           0.0
4         Aeugst am Albis  1972-02-21               0.0           0.0
...                   ...         ...               ...           ...
52231982     Vendlincourt  2023-12-19               0.0           0.0
52231983     Vendlincourt  2023-12-20               0.0           0.0
52231984     Vendlincourt  2023-12-21               0.0           0.0
52231985     Vendlincourt  2023-12-22               0.0           0.0
52231986     Vendlincourt  2023-12-23               0.0           0.0

[52231987 rows x 4 columns]

In [6]:
main_data.to_csv('../Data/main_data.csv', index=False)