In [22]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('../../Ressources/main_data_combined.csv')

In [30]:
df

             Municipality        Date  combination_damage_mainprocess
0         Aeugst am Albis  1972-02-17                             0.0
1         Aeugst am Albis  1972-02-18                             0.0
2         Aeugst am Albis  1972-02-19                             0.0
3         Aeugst am Albis  1972-02-20                             0.0
4         Aeugst am Albis  1972-02-21                             0.0
...                   ...         ...                             ...
52231982     Vendlincourt  2023-12-19                             0.0
52231983     Vendlincourt  2023-12-20                             0.0
52231984     Vendlincourt  2023-12-21                             0.0
52231985     Vendlincourt  2023-12-22                             0.0
52231986     Vendlincourt  2023-12-23                             0.0

[52231987 rows x 3 columns]

In [19]:
count_no_damage = df[df['combination_damage_mainprocess'].isin([0.0])].count()['Municipality']

In [20]:
count_damage = df[df['combination_damage_mainprocess'].isin([i for i in range(1,16)])].count()['Municipality']

In [21]:
count_no_damage, count_damage

(np.int64(52206832), np.int64(25155))

In [27]:
total = count_damage + count_no_damage
percent_no_damage =  count_no_damage / total * 100
percent_damage = count_damage / total * 100
percent_damage = np.round(percent_damage, 5)
percent_no_damage = np.round(percent_no_damage, 5)
percent_no_damage, percent_damage
# 99.95349

(np.float64(99.95184), np.float64(0.04816))

In [37]:
duplicates = df.duplicated(subset=['Municipality', 'Date'])

In [38]:
df[duplicates]

              Municipality        Date  combination_damage_mainprocess
235384           Stallikon  1994-05-19                            11.0
268966             Adlikon  1982-08-15                             6.0
444082         Andelfingen  1995-06-01                            11.0
502339    Kleinandelfingen  1999-05-13                             7.0
758747              Bülach  1975-06-23                             7.0
...                    ...         ...                             ...
50988039          Movelier  1988-06-16                             7.0
51090418            Soulce  2009-07-04                             7.0
51137390            Vermes  1982-07-23                             6.0
51615159          Boncourt  1994-05-19                             6.0
51781590        Courchavon  1983-05-25                             6.0

[983 rows x 3 columns]