In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('/Users/nilsgamperli/Documents/StormMindData/main_data.csv')

In [45]:
df

             Municipality        Date  extent_of_damage  main_process
0         Aeugst am Albis  1972-02-17               0.0           0.0
1         Aeugst am Albis  1972-02-18               0.0           0.0
2         Aeugst am Albis  1972-02-19               0.0           0.0
3         Aeugst am Albis  1972-02-20               0.0           0.0
4         Aeugst am Albis  1972-02-21               0.0           0.0
...                   ...         ...               ...           ...
52231982     Vendlincourt  2023-12-19               0.0           0.0
52231983     Vendlincourt  2023-12-20               0.0           0.0
52231984     Vendlincourt  2023-12-21               0.0           0.0
52231985     Vendlincourt  2023-12-22               0.0           0.0
52231986     Vendlincourt  2023-12-23               0.0           0.0

[52231987 rows x 4 columns]

In [46]:
df['extent_of_damage'].unique()

array([0., 1., 3., 2.])

In [47]:
df['main_process'].unique()

array([0., 3., 2., 1.])

In [48]:
def damage_combination(main_process: int, extent:int):
    if extent == 0.0 or main_process == 0.0:
        return 0
    return main_process + (extent -1 ) * 3

In [49]:
x = [0,1,2,3]
y = [0,1,2,3]
for i in x:
    for j in y:
        combined = damage_combination(i,j)
        print(f"main_process {i}, extent: {j}, combined: {combined}")

main_process 0, extent: 0, combined: 0
main_process 0, extent: 1, combined: 0
main_process 0, extent: 2, combined: 0
main_process 0, extent: 3, combined: 0
main_process 1, extent: 0, combined: 0
main_process 1, extent: 1, combined: 1
main_process 1, extent: 2, combined: 4
main_process 1, extent: 3, combined: 7
main_process 2, extent: 0, combined: 0
main_process 2, extent: 1, combined: 2
main_process 2, extent: 2, combined: 5
main_process 2, extent: 3, combined: 8
main_process 3, extent: 0, combined: 0
main_process 3, extent: 1, combined: 3
main_process 3, extent: 2, combined: 6
main_process 3, extent: 3, combined: 9

In [51]:
df['combination_damage_mainprocess'] = df.apply(
    lambda row: damage_combination(row['main_process'], row['extent_of_damage']),
    axis=1
)

In [52]:
df = df.drop(columns=['extent_of_damage', 'main_process'])

In [54]:
df['combination_damage_mainprocess'].unique()

array([0., 3., 9., 6., 2., 5., 1., 8., 4., 7.])

In [55]:
df['combination_damage_mainprocess'].value_counts()

combination_damage_mainprocess
0.0    52206832
3.0       18066
2.0        3445
6.0        1424
1.0        1161
9.0         655
5.0         237
8.0          69
7.0          56
4.0          42
Name: count, dtype: int64

In [56]:
df

             Municipality        Date  combination_damage_mainprocess
0         Aeugst am Albis  1972-02-17                             0.0
1         Aeugst am Albis  1972-02-18                             0.0
2         Aeugst am Albis  1972-02-19                             0.0
3         Aeugst am Albis  1972-02-20                             0.0
4         Aeugst am Albis  1972-02-21                             0.0
...                   ...         ...                             ...
52231982     Vendlincourt  2023-12-19                             0.0
52231983     Vendlincourt  2023-12-20                             0.0
52231984     Vendlincourt  2023-12-21                             0.0
52231985     Vendlincourt  2023-12-22                             0.0
52231986     Vendlincourt  2023-12-23                             0.0

[52231987 rows x 3 columns]

In [57]:
df.to_csv('/Users/nilsgamperli/Documents/StormMindData/main_data_combined.csv', index=False)

In [13]:
df_2 = pd.read_csv('/Users/nilsgamperli/Documents/StormMindData/main_data_combined.csv')

In [16]:
df_2 = df_2.drop(columns=['Unnamed: 0'])
df_2.to_csv('/Users/nilsgamperli/Documents/StormMindData/main_data_combined.csv', index=False)