In [2]:
import pandas as pd

In [18]:
df = pd.read_csv('/Users/nilsgamperli/Documents/StormMindData/main_data.csv')

In [19]:
df

             Municipality        Date  extent_of_damage  main_process
0         Aeugst am Albis  1972-02-17               0.0           0.0
1         Aeugst am Albis  1972-02-18               0.0           0.0
2         Aeugst am Albis  1972-02-19               0.0           0.0
3         Aeugst am Albis  1972-02-20               0.0           0.0
4         Aeugst am Albis  1972-02-21               0.0           0.0
...                   ...         ...               ...           ...
52231982     Vendlincourt  2023-12-19               0.0           0.0
52231983     Vendlincourt  2023-12-20               0.0           0.0
52231984     Vendlincourt  2023-12-21               0.0           0.0
52231985     Vendlincourt  2023-12-22               0.0           0.0
52231986     Vendlincourt  2023-12-23               0.0           0.0

[52231987 rows x 4 columns]

In [4]:
df['extent_of_damage'].unique()

array([0., 1., 3., 2.])

In [5]:
df['main_process'].unique()

array([0., 3., 2., 1.])

In [8]:
x = [0,1,2,3]
y = [0,1,2,3]
for i in x:
    for j in y:
        combined = 4 * i + j
        x_c = combined  // 4
        y_c = combined % 4
        print(f"x: {i}, y: {j}, combined: {combined}, calc x: {x_c}, calc y: {y_c}")

x: 0, y: 0, combined: 0, calc x: 0, calc y: 0
x: 0, y: 1, combined: 1, calc x: 0, calc y: 1
x: 0, y: 2, combined: 2, calc x: 0, calc y: 2
x: 0, y: 3, combined: 3, calc x: 0, calc y: 3
x: 1, y: 0, combined: 4, calc x: 1, calc y: 0
x: 1, y: 1, combined: 5, calc x: 1, calc y: 1
x: 1, y: 2, combined: 6, calc x: 1, calc y: 2
x: 1, y: 3, combined: 7, calc x: 1, calc y: 3
x: 2, y: 0, combined: 8, calc x: 2, calc y: 0
x: 2, y: 1, combined: 9, calc x: 2, calc y: 1
x: 2, y: 2, combined: 10, calc x: 2, calc y: 2
x: 2, y: 3, combined: 11, calc x: 2, calc y: 3
x: 3, y: 0, combined: 12, calc x: 3, calc y: 0
x: 3, y: 1, combined: 13, calc x: 3, calc y: 1
x: 3, y: 2, combined: 14, calc x: 3, calc y: 2
x: 3, y: 3, combined: 15, calc x: 3, calc y: 3

In [9]:
df['combination_damage_mainprocess'] = 4 * df['extent_of_damage'] + df['main_process']

In [10]:
df = df.drop(columns=['extent_of_damage', 'main_process'])

In [11]:
df

             Municipality        Date  combination_damage_mainprocess
0         Aeugst am Albis  1972-02-17                             0.0
1         Aeugst am Albis  1972-02-18                             0.0
2         Aeugst am Albis  1972-02-19                             0.0
3         Aeugst am Albis  1972-02-20                             0.0
4         Aeugst am Albis  1972-02-21                             0.0
...                   ...         ...                             ...
52231982     Vendlincourt  2023-12-19                             0.0
52231983     Vendlincourt  2023-12-20                             0.0
52231984     Vendlincourt  2023-12-21                             0.0
52231985     Vendlincourt  2023-12-22                             0.0
52231986     Vendlincourt  2023-12-23                             0.0

[52231987 rows x 3 columns]

In [12]:
df.to_csv('/Users/nilsgamperli/Documents/StormMindData/main_data_combined.csv')

In [13]:
df_2 = pd.read_csv('/Users/nilsgamperli/Documents/StormMindData/main_data_combined.csv')

In [16]:
df_2 = df_2.drop(columns=['Unnamed: 0'])
df_2.to_csv('/Users/nilsgamperli/Documents/StormMindData/main_data_combined.csv', index=False)